<div class="animate__animated animate__fadeIn animate_faster"> 
    <h3>Buscar por Región <small> {{regionActiva | titlecase}}</small></h3>
    <hr/>
    
    <h5>Seleccionar la Región</h5>
    
    <div class="row">
        <div class="col">
            
            <button *ngFor="let region of resgiones"
            [class]="getClassCSS( region )"
            (click)="activarRegion( region )">
            {{ region | titlecase}}
        </button>
        
        </div>
    </div>
    <hr>

    <div class="col">
        <div *ngIf="paises.length > 0"
            class="row animate__animated animate__fadeIn animate_faster">
            
            <app-pais-pabla [paises]="paises"></app-pais-pabla>
            
        </div>
    </div>
</div>